body {
    background-color: #141414;
    margin: 0 auto;
  }
  
  header {
    background-color: #333333;
    border-bottom: 2px solid #254164;
    border-left: 2px solid #254164;
    border-right: 2px solid #254164;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  li {
    display: inline-flex;
  }
  

  .round_buttons {
    border: 3px solid #254164;
    display: inline-block;
    width: 17%;
    padding: 2% 0.5%;
    align-self: center;
    border-radius: 100px;
    text-align: center;
    color: #FFF;
    font-family: 'Garamond', sans-serif;
    font-size: 100%;
    font-weight: 1200;
    text-transform: uppercase;
    margin: 0% 0.5%;
  }

  .round_buttons:hover {
    border: 3px solid #FFF;
  }
  
  h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }

    
  h1.name {
    padding: 0% 7.75%;
    color: white;
    font-family: 'Varela Round';
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  
  h2 {
    color: white;
    font-family: 'Patrick Hand';
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
  }
  
  h3 {
    color: #466995;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
  }
  
  h4 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase
  }
   
  p {
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }
  
  footer {
    background-color: #141414;
    text-align: center;
    height: 100px;
  }
  
  .welcome {
    background-color: #141414;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top:100px;
  }
  
  .question {
    text-align: center;
    position: relative;
    top: 40px;
  }
  
  .answer {
    border: 1px solid #466995;
    margin: 20px;
    display: inline-block;
  }
  
  .answer:hover {
    background: #C0D6DF;
    color: #FFF;
  }

 
  

